@import "partials/variables";

@mixin flex-container($dir: row, $just: center, $wrap: wrap, $ali: stretch) {
  display: flex;
  justify-content: $just;
  flex-direction: $dir;
  flex-wrap: $wrap;
  align-items: $ali;
}

@mixin text-styling($size: 1.5rem) {
  font-size: $size;
  font-family: $main_font, sans-serif;
}

@mixin reset-link {
  text-decoration: none;
  color: inherit;
}

@mixin tab {
  &:first-of-type{
    border-radius: 5px 0 0 5px;
  }
  &:last-of-type {
    border-radius: 0 5px 5px 0;
  }
}

@mixin btn {
  @include text-styling(1.5rem);
  color: white;
  background-color: $button_color;
  outline: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  &:hover {
    background-color: darken($button_color, 5%);
  }
}

@mixin mobile-device {
  @media (max-width: 900px) {
    @content;
  }
}
