@import "partials/variables";

@mixin flex-container($dir: row, $just: center, $wrap: wrap, $ali: stretch) {
  display: flex;
  justify-content: $just;
  flex-direction: $dir;
  flex-wrap: $wrap;
  align-items: $ali;
}

@mixin text-styling($size: 1.5rem) {
  font-size: $size;
  font-family: $main_font, sans-serif;
}

@mixin reset-link {
  text-decoration: none;
  color: inherit;
}

@mixin animate-active {
  transition-duration: 0.3s;
  transition-property: background-color, border-color, color;
}

@mixin tab($border_color: $border_color) {
  border-top: 1px solid $border_color;
  border-bottom: 1px solid $border_color;
  &:first-of-type {
    border-left: 1px solid $border_color;
    border-radius: 5px 0 0 5px;
  }
  &:last-of-type {
    border-right: 1px solid $border_color;
    border-radius: 0 5px 5px 0;
  }
}

@mixin btn($font_size: 1.5rem) {
  @include text-styling($font_size);
  color: white;
  background-color: $highlight_color;
  outline: none;
  border: 1px solid $highlight_color;
  border-radius: 5px;
  cursor: pointer;
  &:hover {
    background-color: darken($highlight_color, 5%);
  }
}

@mixin mobile-device {
  @media (max-width: 900px) {
    @content;
  }
}

@mixin input_block {
  margin: 1rem 0;
  padding: 0;
  width: 60%;
  height: 3rem;
  box-sizing: border-box;
}
