$background_color: white;
$text_color: black;
$elements_secondary_color: grey;

$button_color: #5cb85c;

$twitter_color: #1dcaff;
$facebook_color: #3B5998;
$instagram_color: #8a3ab9;

$hover_color: lightgrey;

$main_font: Helvetica;
