$background_color: white;
$text_color: black;
$elements_secondary_color: grey;

$twitter_color: #1dcaff;
$facebook_color: #3B5998;
$instagram_color: #8a3ab9;

$highlight_color: #5cb85c;

$border_color: lightgrey;

$error_color: red;
$alert_color: orange;

$main_font: Helvetica;
