@import "partials/variables";
@import "partials/mixins";

.chart {
  box-sizing: border-box;
  width: 50%;
  margin: 1rem 0;
}
.reposts,
.comments,
.likes,
.postsMap {
  width: 90%;
  margin: 1rem auto;
}
.postsMap {
  margin-bottom: 0;
}
