@import "partials/variables";
@import "partials/mixins";

.stats {
  @include flex-container($ali: flex-start);
  width: 70%;
  @include mobile-device {
    width: 95%;
  };
  margin: 0 auto;
  box-sizing: border-box;
}

.fixed {
  // Changing order of components on mobile devices
  @include mobile-device {
    width: 100%;
    order: -1;
    position: static;
  };
  width: 28%;
  top: 0;
  position: sticky;
}
