@import "partials/variables";
@import "partials/mixins";

.stats {
  @include flex-container($ali: flex-start);
  width: 70%;
  @include mobile-device {
    width: 95%;
  };
  margin: 0 auto;
  box-sizing: border-box;
}

.userList.social {
  @include mobile-device {
    display: none;
  };
  width: 28%;
}
