@import "partials/variables";
@import "partials/mixins";

.inputArea {
  @include mobile-device {
    width: 95%;
    margin: 1rem auto;
  }
  width: 50%;
  form {
    @include flex-container($dir: column, $ali: center);
  }
  input {
    @include input_block;
    @include text-styling;
    outline: none;
    text-align: center;
    border: 1px solid $border_color;
    border-radius: 5px;
  }
}

.socialChoice {
  @include flex-container;
  @include input_block;
  input {
    display: none;
  }
  label {
    @include tab;
    @include animate-active;
    box-sizing: border-box;
    width: 33%;
    height: 100%;
    padding-top: 0.5rem;
    text-align: center;
    cursor: pointer;
    .fa {
      font-size: 2rem;
    }
    &:first-of-type {
      border-right: 1px solid $border_color;
    }
    &:last-of-type {
      border-left: 1px solid $border_color;
    }
  }
  input:checked + label {
    &:nth-child(2) {
      background: $twitter_color;
      border-color: $twitter_color;
    }
    &:nth-child(4) {
      color: white;
      background: $facebook_color;
      border-color: $facebook_color;
    }&:nth-child(6) {
      color: white;
      background: $instagram_color;
      border-color: $instagram_color;
    }
  }
}
