@import "partials/variables";
@import "partials/mixins";

.navigation {
  @include flex-container;
  width: 70%;
  @include mobile-device {
    width: 95%;
  };
  margin: 0 auto;
  height: 4rem;
  a {
    @include tab;
    @include reset-link;
    @include text-styling;
    width: 25%;
    list-style: none;
    text-align: center;
    color: $text_color;
    padding-top: 1rem;
    box-sizing: border-box;
    &:hover {
      background-color: $hover_color;
      border-color: $hover_color;
    }
    &:first-child {
      color: white;
      background-color: grey;
      border: 1px solid grey;
    }
  }
}

.active {
  background-color: $hover_color;
  color: white;
}
