@import "partials/variables";
@import "partials/mixins";

.navigation {
  @include flex-container;
  width: 70%;
  @include mobile-device;
  margin: 0 auto;
  height: 4rem;
  border: 1px solid $hover_color;
  border-radius: 5px;
  a {
    @include tab;
    @include reset-link;
    @include text-styling;
    width: 25%;
    list-style: none;
    text-align: center;
    color: $text_color;
    padding-top: 1rem;
    &:hover {
      background-color: $hover_color;
    }
    &:first-child {
      color: white;
      background-color: grey;
    }
  }
}

.active {
  background-color: $hover_color;
  color: white;
}
