@import "partials/variables";
@import "partials/mixins";

.submitButton {
  @include input_block;
  @include btn;
  @include animate-active;
  &.full {
    background-color: $border_color;
    border-color: $border_color;
    cursor: auto;
  }
  &.error {
    @include animate-button;
    background-color: $error_color;
    border-color: $error_color;
  }
  &.duplication {
    @include animate-button;
    background-color: $alert_color;
    border-color: $alert_color;
  }
}
