@import "partials/variables";
@import "partials/mixins";


@keyframes shake {
  10% {right: 4px};
  30% {right: -8px};
  50% {right: 6px};
  70% {right: -4px};
  90% {right: 2px};
}

.submitButton {
  @include input_block;
  @include btn;
  @include animate-active;
  &.full {
    background-color: $border_color;
    border-color: $border_color;
    cursor: auto;
  }
  &.error {
    position: relative;
    animation-name: shake;
    animation-duration: 0.5s;
    animation-timing-function: ease-in;
    background-color: red;
    border-color: red;
  }
}
