@import "partials/variables";
@import "partials/mixins";


.title {
  @include mobile-device {
    width: 95%;
  };
  width: 70%;
  margin: 0 auto;
  h1 {
    @include text-styling(5rem);
    @include mobile-device {
      font-size: 3rem;
    };
    text-align: center;
  }
  p {
    @include text-styling(1rem);
    @include mobile-device {
      text-align: center;
    };
  }
}
