@import "partials/variables";
@import "partials/mixins";

.userList {
  @include mobile-device {
    width: 95%;
    margin: 1rem auto;
  }
  width: 50%;
  margin: 1em 0;
  box-sizing: border-box;
  border: 1px solid $border_color;
  border-radius: 5px;
  &.social {
    width: 100%;
  }
  h3 {
    @include text-styling(1rem);
    text-align: center;
    text-transform: uppercase;
  }
  ul {
    padding: 0;
    list-style-position: inside;
  }
  li {
    @include text-styling(1rem);
    padding: 0 1rem;
    list-style: none;
    line-height: 2rem;
    border-bottom: 1px dashed $border_color;
    display: grid;
    grid-template-columns: 1fr 10fr 10fr 1fr;
    grid-gap: 5px;
    span:last-child {
      text-align: right;
    }
    &.social {
      grid-template-columns: 1fr 10fr 1fr;
    }
  }
  .delete {
    color: red;
    font-size: 1.5rem;
    cursor: pointer;
    &:hover {
      color: darken(red, 5%);
    }
  }
}
